* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #3C3C3C;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.conteiner {
    background-color: #654a67;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;

}

button#addTask{
    background-color: #28a745;
    width: 100%;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 15px;
    border: 1px solid;
    cursor: pointer;
    
}
button#addTask:hover{
    background-color: #026600;
}
.remove-btn{
    background-color: #8c8c8c69;
    color: #6f9869;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 15px;
    border: 2px solid;
    cursor: pointer;

}

.remove-btn:hover {
    background-color: #a70000;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    text-shadow: 
    -1px -1px 0 white,  
     1px -1px 0 white,  
    -1px  1px 0 white,  
     1px  1px 0 white;
}


h2 {
    color: black;
    font-size: 18px;
    margin-bottom: 15px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 14px;
}

ul {
    list-style-type: none;
    margin-top: 20px;
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

li {
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
}